# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.

# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# core

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore multi-site test environment.
sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore multi-site test environment.
# simpletest

.idea

# Drupal-specific files and directories to ignore# Exclude core directory
/web/core
# Exclude vendor directory
/vendor/
# Exclude Drupal settings files
/web/sites/*/settings.*.php
# Exclude Drupal services files
/web/sites/*/services*.yml
# Exclude Drupal files and private directories
/web/sites/*/files
/web/sites/*/private
# Exclude Drupal simpletest directory
/web/sites/simpletest
# Directories specific to this template
# Exclude libraries directory
#/web/libraries
# Exclude contributed modules directory
/web/modules/contrib
# Exclude contributed profiles directory
/web/profiles/contrib
# Exclude contributed themes directory
/web/themes/contrib
# Sass
.sass-cache
*.css.map
# NPM
npm-debug.log
node_modules/
# Database backups
*.gz
*.sql.gz
*.sql

